commands:
  jasper_install:
    command: yum install -y jasper
  grib_api_install:
    command: wget -nv -O ./grib-api.rpm https://software.ecmwf.int/wiki/download/attachments/14975062/grib_api-1.10.0-1.x86_64.rpm?api=v2 && rpm -ivhF ./grib-api.rpm
  grib_api_dev_install:
    command: wget -nv -O ./grib-api-dev.rpm https://software.ecmwf.int/wiki/download/attachments/14975062/grib_api-devel-1.10.0-1.x86_64.rpm?api=v2 && rpm -ivhF ./grib-api-dev.rpm
  pygrib_install:
    command: pip install numpy==1.7.* pyproj==1.9.5.1 && pip install pygrib==2.0.2